################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KetoMealPlanApp/obj/Debug
/.vs/KetoMealPlanApp/v15
/KetoMealPlanApp/bin/Debug
/KetoMealPlanAppUI/obj/Debug
/KetoMealPlanAppUI/bin/Debug
/.vs
/KetoMealPlanApp/obj/Release
/KetoMealPlanAppUI.Tests/bin/Debug
/KetoMealPlanAppUI.Tests/obj/Debug
